root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[{.textlintrc,*.{yml,yaml,json,code-workspace}}]
indent_size = 2

[{Makefile,*.svg}]
indent_style = tab
