# nix
.direnv/

# build output
dist/
.output/

# dependencies
node_modules/

# content collection metadata
.astro/

# Vitest
coverage/

# Playwright
test-results/
playwright-report/
playwright/.cache/
