---
import '@fontsource/zen-kaku-gothic-new/700.css';
import Base from '../Base.astro';
import './content.css';
---

<Base>
    <slot name="head" slot="head" />
    <div class="container-grid container-rows-4 md:container-rows-3">
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-1",
                "md:col-span-2 md:row-span-3",
                "lg:col-span-1",
            ]}
        >
            <slot name="nav" />
        </div>
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-2",
                "md:col-span-8 md:col-start-3 md:row-start-1",
                "lg:col-span-10 lg:col-start-2",
            ]}
        >
            <slot name="title" />
            <slot name="meta" />
        </div>
        <main
            class:list={[
                "blog",
                "col-span-12 col-start-1 row-start-3",
                "md:col-span-8 md:col-start-3 md:row-start-2",
                "lg:col-span-10 lg:col-start-2",
            ]}
        >
            <slot name="content" />
        </main>
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-4",
                "md:col-span-8 md:col-start-3 md:row-start-3",
                "lg:col-span-10 lg:col-start-2",
            ]}
        >
            <slot name="footer" />
        </div>
    </div>
</Base>
