---
import { getCollection } from 'astro:content';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import Tag from '~/components/Tag.astro';
import Updated from '~/components/Updated.astro';
import Footer from '~/features/footer/Footer.astro';
import Navigation from '~/features/navigation/Navigation.astro';
import Title from '~/features/title/Title.astro';
import Layout from '~/layouts/post/Layout.astro';
import { toStr } from '~/utils/from-date';
import { filterPublished } from '~/utils/from-posts';

export const getStaticPaths = (async () => {
    const posts = filterPublished(await getCollection('posts'));

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
const { title, published, updated, tags } = post.data;
const { Content } = await post.render();
---

<Layout {...{ title }}>
    <Navigation slot="nav" />
    <Title slot="title">
        {title}
    </Title>
    <div slot="meta" class="my-4 flex flex-wrap gap-3 items-center">
        <div class="metadata">
            {toStr(published)}
        </div>
        {updated && <Updated>{toStr(updated)}</Updated>}
        {tags.map((tag) => <Tag name={tag} />)}
    </div>
    <Content slot="content" />
    <Footer slot="footer" />
</Layout>
