---
type Props = { href: string; children: any };

const { href } = Astro.props;
---

<a
    href={href}
    class="metadata block w-max rounded-full border-2 border-transparent bg-white px-3 py-1 hover:border-maldives dark:bg-midnight-express"
>
    <slot />
</a>
