---
import type { Card } from '~/types';
import { embedUpdated, format } from '~/utils/dateToString';
import { toStr } from '~/utils/tagArrayToString';
import Metadata from '../atoms/Metadata.astro';

type Props = Card;
const { title, slug, tags, preview, pubDate, updatedAt } = Astro.props;

const publishedAt = format(pubDate);
const date = publishedAt + (updatedAt !== undefined ? embedUpdated(pubDate) : '');
const tagStr = tags !== undefined ? ' | ' + toStr(tags) : '';
---

<article
    class="hover:custom-shadow rounded-2xl border-2 border-solid border-transparent hover:border-secondary"
>
    <!-- TODO: セパレータのアクセシビリティ -->
    <a href={`/posts/${publishedAt}/${slug}`} class="block py-4 px-2 sm:px-5">
        <Metadata text={date + tagStr} />
        <h2 class="mb-2.5 border-b border-tertiary pb-1.5 text-xl text-primary sm:text-2xl">
            {title}
        </h2>
        <p
            class="bg-gradient-to-b from-foreground via-foreground/80 to-foreground/20 bg-clip-text text-transparent line-clamp-5 sm:text-lg"
        >
            {preview}
        </p>
    </a>
</article>
