---
import Icon from '../atoms/Icon.astro';
import Navbar from '../atoms/Navbar.astro';
import type { Props as NavbarProps } from '../atoms/Navbar.astro';

export type Props = NavbarProps;
const props = Astro.props;
---

<header class="flex gap-4 sm:gap-5">
    <div>
        <Icon />
    </div>
    <div class="w-full">
        <Navbar {...props} />
    </div>
</header>
