---
import Card from './Card.astro';
import type { Card as CardType } from '~/types';

type Props = {
    cards: CardType[];
};
const { cards } = Astro.props;
---

<main class="flex flex-col gap-4 sm:gap-6">
    {cards.map((card) => <Card {...card} />)}
</main>
