---
import { Tag } from './Tag';

type Props = { tags: string[] };
const { tags } = Astro.props;
---

<div class="">
    <h2 class="text-2xl text-tertiary">Tags</h2>
    <div class="flex flex-wrap">
        {tags.map((tag) => <Tag name={tag} truncate />)}
    </div>
</div>
