@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
    :root {
        --color-bellflower-blue:
    }
}*/

@layer utilities {
    /* .link {
        @apply text-maldives decoration-2 underline-offset-2 hover:underline;
    } */
    .metadata {
        @apply text-sm text-blue-blouse xl:text-base;
    }
    .grid-container {
        @apply mx-auto h-svh max-w-7xl px-4 grid grid-cols-12 gap-6 max-md:gap-y-4 md:px-8;
    }
    .vrl {
        writing-mode: vertical-rl;
    }
    .grid-2-rows {
        grid-template-rows: auto 1fr;
    }
    .grid-3-rows {
        grid-template-rows: auto 1fr auto;
    }
    .grid-4-rows {
        grid-template-rows: auto auto 1fr auto;
    }
}

body {
    @apply bg-bellflower-blue font-sans text-yamagami-blue dark:bg-black-knight dark:text-dreamy-cloud;
}
