---
import Base, { type Props as BaseProps } from '~/components/layouts/Base.astro';

type Props = BaseProps;

const { title, description } = Astro.props;
---

<Base {...{ title, description }}>
    <div class="grid-container grid-5-rows lg:grid-4-rows">
        <div
            class:list={[
                "pt-4 md:pt-6",
                "col-start-1 row-start-1", // base
                "max-md:col-span-12", // ~ md
                "md:row-span-3", // md ~
                "lg:max-xl:col-start-3", // lg ~ xl
                "xl:col-start-2", // xl ~
            ]}
        >
            <slot name="navigation" />
        </div>
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-2", // base
                "md:col-span-8 md:col-start-3", // md ~
                "lg:col-span-6 lg:col-start-4", // lg ~
                "xl:col-span-8 xl:col-start-3", // xl ~
            ]}
        >
            <slot name="title" />
        </div>
        <div
            class:list={[
                "h-min max-lg:overflow-x-auto",
                "col-span-12 col-start-1 row-start-3", // base
                "md:col-span-8 md:col-start-3 md:row-start-3", // md ~
                "lg:col-span-2 lg:col-start-10", // lg ~
                "xl:col-start-11", // xl ~
            ]}
        >
            <slot name="tag-list" />
        </div>
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-4", // base
                "md:col-span-8 md:col-start-3 md:row-start-4", // md ~
                "lg:max-xl:col-span-6 lg:max-xl:col-start-4", // lg ~ xl
                "lg:row-start-3", // lg ~
            ]}
        >
            <slot name="list" />
        </div>
        <div
            class:list={[
                "pb-6 text-right md:pb-10",
                "col-span-12 col-start-1 row-start-5", // base
                "md:col-span-8 md:col-start-3", // md ~
                "lg:max-xl:col-span-6 lg:max-xl:col-start-4", // lg ~ xl
                "lg:row-start-4", // lg ~
                "xl:col-start-3"
            ]}
        >
            <slot name="footer" />
        </div>
    </div>
</Base>
