---
import { getCollection } from 'astro:content';
import Menu from '~/components/features/Menu.astro';
import Base, {
    type Props as LayoutProps,
} from '~/components/layouts/Base.astro';
import Footer from '~/features/footer/Footer.astro';
import Navigation from '~/features/navigation/Navigation.astro';

type Props = LayoutProps;

const { title, description } = Astro.props;

const posts = await getCollection('posts');
const tags = [...new Set(posts.flatMap(({ data }) => data.tags).toSorted())];
---

<Base {...{ title, description }}>
    <div class="grid-container grid-4-rows lg:grid-3-rows">
        <div
            class:list={[
                "pt-4 md:pt-6",
                "col-start-1 row-start-1", // base
                "max-md:col-span-12", // ~ md
                "md:col-start-2 md:row-span-3", // md ~
                "lg:max-xl:col-start-3", // lg ~ xl
            ]}
        >
            <Navigation />
        </div>
        <div
            class:list={[
                "h-min max-lg:overflow-x-auto",
                "col-span-12 col-start-1 row-start-2", // base
                "md:col-span-8 md:col-start-3 md:row-start-2", // md ~
                "lg:col-span-2 lg:col-start-10", // lg ~
                "xl:col-start-11", // xl ~
            ]}
        >
            <Menu {tags} />
        </div>
        <div
            class:list={[
                "lg:row-start-2",
                "col-span-12 col-start-1 row-start-3", // base
                "md:col-span-8 md:col-start-3 md:row-start-3", // md ~
                "lg:max-xl:col-span-6 lg:max-xl:col-start-4", // lg ~ xl
            ]}
        >
            <slot />
        </div>
        <div
            class:list={[
                "pb-6 text-right md:pb-10",
                "col-span-12 col-start-1 row-start-4", // base
                "md:col-span-8 md:col-start-3", // md ~
                "lg:row-start-3", // lg ~
                "lg:max-xl:col-span-6 lg:max-xl:col-start-4", // lg ~ xl
            ]}
        >
            <Footer />
        </div>
    </div>
</Base>
