---
import '@fontsource/zen-kaku-gothic-new/700.css';
import Base from './Base.astro';

type Props = { title: string };
---

<Base {...Astro.props}>
    <div class="container-grid container-rows-4 md:container-rows-3">
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-1",
                "md:col-span-2 md:row-span-3",
                "lg:col-span-1",
            ]}
        >
            <slot name="nav" />
        </div>
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-2",
                "md:col-span-8 md:col-start-3 md:row-start-1",
                "lg:col-span-10 lg:col-start-2",
            ]}
        >
            <slot name="title" />
            <slot name="meta" />
        </div>
        <div
            class:list={[
                "blog",
                "col-span-12 col-start-1 row-start-3",
                "md:col-span-8 md:col-start-3 md:row-start-2",
                "lg:col-span-10 lg:col-start-2",
            ]}
        >
            <slot name="content" />
        </div>
        <div
            class:list={[
                "col-span-12 col-start-1 row-start-4",
                "md:col-span-8 md:col-start-3 md:row-start-3",
                "lg:col-span-10 lg:col-start-2",
            ]}
        >
            <slot name="footer" />
        </div>
    </div>
</Base>
<style is:global>
    .astro-code,
    .astro-code span {
        background-color: theme("colors.white") !important;
    }

    html.dark {
        .astro-code,
        .astro-code span {
            color: var(--shiki-dark) !important;
            background-color: theme("colors.midnight-express") !important;
        }
    }

    .blog {
        @apply sm:text-lg;

        p {
            @apply my-4 rounded-2xl bg-white p-4 dark:bg-midnight-express;
        }

        a {
            /* TODO: なぜか`.link`ユーティリティクラスが読めない */
            /* @apply link; */
            @apply hover:underline decoration-[1.5px];

            &:not(.anchor) {
                @apply text-maldives;
            }
        }

        em {
            @apply px-1;
        }

        blockquote {
            @apply border-l-4 border-spiced-nectarine pl-6;
        }

        /* --------------------------------- header --------------------------------- */
        :is(h2, h3, h4, h5) .anchor {
            @apply after:pl-2 after:absolute after:text-maldives;
        }

        h2 > .anchor {
            @apply text-2xl hover:after:content-["##"] sm:text-3xl;
        }

        h3 > .anchor {
            @apply text-xl hover:after:content-["###"] sm:text-2xl;
        }

        h4 > .anchor {
            @apply text-lg hover:after:content-["####"] sm:text-xl;
        }

        h5 > .anchor {
            @apply hover:after:content-["#####"];
        }

        /* header要素が連続する場合の余白調整 */
        :is(h2 + h3, h3 + h4, h4 + h5) {
            @apply mt-4;
        }

        /* ---------------------------------- list ---------------------------------- */
        :is(ul, ol) {
            @apply list-inside py-4;
        }

        ul {
            @apply list-disc;
        }

        ol {
            @apply list-decimal;
        }

        /* list要素内でのインデント */
        :is(ul ul, ol ol) {
            @apply ml-7 py-0;
        }

        /* ---------------------------------- code ---------------------------------- */
        code {
            @apply font-code;

            /* inline */
            &:not(pre > *) {
                @apply mx-1 rounded-md bg-bellflower-blue px-1 text-base dark:bg-black-knight;
            }
        }

        /* block */
        pre {
            @apply my-4 rounded-2xl p-4 text-base;
        }

        /* filename */
        .remark-code-title {
            /* SEE: https://github.com/material-theme/vsc-material-theme/blob/main/scripts/generator/settings/specific/default.ts */
            @apply -mb-3 font-code text-base text-[#263238] dark:text-[#546E7A];
        }
    }
</style>
