---
import { List } from '~/components/features/List';
import { Posts } from '~/domain/values/post';
import { Tags } from '~/domain/values/tags';
import Layout from '~/components/layouts/Layout.astro';

export const getStaticPaths = async () => {
    const posts = await Posts.fetch();
    const tags = Tags.from(posts);

    return tags.map((tag) => ({
        params: { tag },
        props: { posts: posts.filter(({ tags }) => tags.includes(tag)) },
    }));
};

const { tag } = Astro.params;
type Props = { posts: Posts };
const { posts } = Astro.props;
---

<Layout title={`tag: ${tag}`}>
    <div class="col-span-10">
        <h1 class="pb-5 pl-5 pt-8 text-3xl text-tertiary sm:text-4xl">#{tag}の記事一覧</h1>
        <List {posts} />
    </div>
</Layout>
