---
import List from '~/components/features/List.astro';
import Menu from '~/components/features/Menu.astro';
import Layout from '~/components/layouts/List.astro';
import Footer from '~/features/footer/Footer.astro';
import Navigation from '~/features/navigation/Navigation.astro';
import { type PostsData, getPosts } from '../_posts';

export const getStaticPaths = async () => {
    const { posts, tags } = await getPosts();

    return tags.map((tag) => ({
        params: { tag },
        props: {
            posts: posts.filter(({ data }) => data.tags.includes(tag)),
            tags,
        },
    }));
};

type Props = { posts: PostsData['posts']; tags: PostsData['tags'] };

const { posts, tags } = Astro.props;
const { tag } = Astro.params;
---

<Layout title={`#${tag}`}>
    <Navigation slot="navigation" />
    <Menu {...{ tags }} slot="tag-list" />
    <h2 slot="title" class="pb-4 text-2xl xl:pb-6 xl:text-4xl">#{tag}</h2>
    <List {posts} slot="list" />
    <Footer slot="footer" />
</Layout>
