---
import type {
    GetStaticPaths,
    InferGetStaticParamsType,
    InferGetStaticPropsType,
} from 'astro';
import Footer from '~/features/footer/Footer.astro';
import List from '~/features/list/List.astro';
import Navigation from '~/features/navigation/Navigation.astro';
import TagList from '~/features/tag-list/TagList.astro';
import Title from '~/features/title/Title.astro';
import { getPosts } from '~/fetchers';
import Layout from '~/layouts/list/Layout.astro';

export const getStaticPaths = (async () => {
    const { tags, cards } = await getPosts();

    return tags.map((tag) => ({
        params: { tag },
        props: {
            tags,
            cards: cards.filter(({ tags }) => tags.includes(tag)),
        },
    }));
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag } = Astro.params as Params;
// NOTE: use assert to suppress errors from `astro check`
const { tags, cards } = Astro.props as Props;
---

<Layout title={`#${tag}`}>
    <Navigation slot="nav" />
    <TagList slot="tags" {...{ tags }} />
    <Title slot="title">
        #{tag}
    </Title>
    <List slot="list" {...{ cards }} />
    <Footer slot="footer" />
</Layout>
