---
import { List } from '~/components/molecules/List';
import { Posts, Tags } from '~/domain/model/post';
import Layout from '~/components/layouts/Layout.astro';
import { pageTitle } from '~/utils/constructString';

export const getStaticPaths = async () => {
    const posts = await Posts.fetch();
    const tags = Tags.new(posts.flatMap(({ tags }) => tags));

    return tags.map((tag) => ({
        params: { tag },
        props: { posts: posts.filter(({ tags }) => tags.includes(tag)) },
    }));
};

const { tag } = Astro.params;
type Props = { posts: Posts };
const { posts } = Astro.props;
---

<Layout title={pageTitle(`tag: ${tag}`)}>
    <h1 class="pb-5 pl-5 pt-8 text-3xl text-tertiary sm:text-4xl">#{tag}の記事一覧</h1>
    <List {posts} />
</Layout>
