---
import List from '~/components/features/List.astro';
import ListLayout from '~/components/layouts/ListLayout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

export const getStaticPaths = async () => {
    const posts = await getCollection('posts');
    const tags = [
        ...new Set(posts.flatMap(({ data }) => data.tags).toSorted()),
    ];

    return tags.map((tag) => ({
        params: { tag },
        props: { posts: posts.filter(({ data }) => data.tags.includes(tag)) },
    }));
};

const { tag } = Astro.params;
type Props = { posts: CollectionEntry<'posts'>[] };
const { posts } = Astro.props;
---

<ListLayout title={`#${tag}の記事一覧`}>
    <h2 class="pb-4 text-2xl xl:pb-6 xl:text-4xl">#{tag}</h2>
    <List {posts} />
</ListLayout>
