---
import Icon from "../atoms/Icon.astro";
import Navbar from "../atoms/Navbar.astro";
import type { Props as NavbarProps } from "../atoms/Navbar.astro";

type Props = NavbarProps;
const { isTop } = Astro.props;
---

<header class="flex gap-5">
    <div>
        <Icon />
    </div>
    <div class="w-full">
        <Navbar isTop={isTop} />
    </div>
</header>
