---
import Icon from "../atoms/Icon.astro";
import Navbar from "../atoms/Navbar.astro";
---

<header class="mt-8 flex gap-5">
    <div class="">
        <Icon />
    </div>
    <div class="w-full">
        <Navbar />
    </div>
</header>
