---
import Card from "../atoms/Card.astro";
import type { Card as CardType } from "~/types";

type Props = {
    cards: CardType[];
};
const { cards } = Astro.props;
---

<main class="flex flex-col gap-6">
    {cards.map((card) => <Card {...card} />)}
</main>
