---
import { List } from '~/components/molecules/List';
import Menu from '~/components/molecules/Menu.astro';
import { PAGE_TITLE } from '~/constants';
import Layout from '../layouts/Layout.astro';
import { Tags, Posts } from '~/domain/model/post';

const posts = await Posts.fetch();
const tags = Tags.new(posts.flatMap(({ tags }) => tags));
---

<Layout title={PAGE_TITLE} isTop={true}>
    <div class="flex flex-col-reverse gap-5 md:flex-row">
        <List {posts} />
        <div class="shrink-0 max-sm:px-[10px] sm:max-md:px-[22px] md:w-48">
            <Menu {tags} />
        </div>
    </div>
</Layout>
