---
import { List } from '~/components/features/List';
import { Navbar } from '~/components/features/Header/Navbar';
// import { List } from '~/components/features/List';
// import Menu from '~/components/features/Menu.astro';
import Layout from '~/components/layouts/Layout.astro';
import { Posts } from '~/domain/values/post';
import { Tags } from '~/domain/values/tags';
import Menu from '~/components/features/Menu.astro';
import Footer from '~/components/features/Footer.astro';

const posts = await Posts.fetch();
const tags = Tags.from(posts);
---

<Layout>
    <div class="relative col-start-2 pt-6 lg:max-xl:col-start-3">
        <div class="md:fixed md:w-16 xl:w-20">
            <img src="/icon.png" alt="tsukiyo icon" class="max-xl:float-right max-xl:-mr-3" />
        </div>
    </div>
    <div class="xg:max-xl:col-start-4 col-span-8 pt-6 lg:max-xl:col-span-6">
        <Navbar isH1={true} />
    </div>
    <div
        class="col-span-8 col-start-3 max-lg:row-start-3 lg:max-xl:col-span-6 lg:max-xl:col-start-4"
    >
        <List {posts} />
    </div>
    <div class="col-span-2 max-lg:col-span-8 max-lg:col-start-3 max-lg:row-start-2">
        <Menu {tags} />
    </div>
    <div class="col-span-8 col-start-3 pb-6 lg:max-xl:col-span-6 lg:max-xl:col-start-4">
        <Footer />
    </div>
</Layout>
