---
import { List } from '~/components/features/List';
import Icon from '~/components/features/Header/Icon.astro';
import { Navbar } from '~/components/features/Header/Navbar';
// import { List } from '~/components/features/List';
// import Menu from '~/components/features/Menu.astro';
import Layout from '~/components/layouts/Layout.astro';
import { Posts } from '~/domain/values/post';
import { Tags } from '~/domain/values/tags';
import Menu from '~/components/features/Menu.astro';
import Footer from '~/components/features/Footer.astro';

const posts = await Posts.fetch();
const tags = Tags.from(posts);
---

<Layout>
    <div class="col-start-2 pt-6">
        <div class="fixed">
            <Icon />
        </div>
    </div>
    <div class="col-span-8 pt-6">
        <Navbar isH1={true} />
    </div>
    <div class="col-span-8 col-start-3">
        <List {posts} />
    </div>
    <div class="co-span-2">
        <Menu {tags} />
    </div>
    <div class="col-span-8 col-start-3 pb-6">
        <Footer />
    </div>
</Layout>
