---
import { List } from '~/components/features/List';
import Menu from '~/components/features/Menu.astro';
import Layout from '~/components/layouts/Layout.astro';
import { Posts } from '~/domain/values/post';
import { Tags } from '~/domain/values/tags';

const posts = await Posts.fetch();
const tags = Tags.from(posts);
---

<Layout isTop={true}>
    <div class="flex flex-col-reverse gap-5 md:flex-row">
        <div class="mx-auto max-w-3xl">
            <List {posts} />
        </div>
        <!-- <div class="shrink-0 max-sm:px-[10px] sm:max-md:px-[22px] md:w-48">
            <Menu {tags} />
        </div> -->
    </div>
</Layout>
