---
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/biz-udgothic/400.css";
import type { Frontmatter } from "~/types";
import { toStr } from "~/utils/tagArrayToString";
import { embedCreated, embedUpdated } from "~/utils/dateToString";
import Layout from "./Layout.astro";

type Props = {
    frontmatter: Frontmatter;
};
const {
    frontmatter: { tags, createdAt, updatedAt },
} = Astro.props;

// const description =
const created = embedCreated(createdAt);
const updated = updatedAt ? embedUpdated(updatedAt) : null;
const tagStr = tags?.length ? toStr(tags) : null;
---

<Layout title="post">
    <div class="tags">
        <span class="tag is-light">{created}</span>
    </div>
    {
        updated && (
            <div class="tags">
                <span class="tag is-light">{updated}</span>
            </div>
        )
    }
    {
        tagStr && (
            <div class="tags">
                <span class="tag is-light">{tagStr}</span>
            </div>
        )
    }
    <slot />
</Layout>
<style is:global>
    code {
        @apply font-code;
    }
</style>
