---
import type { Frontmatter } from "~/types";
import { createdDate } from "~/utils/createdDate";
import { tagList } from "~/utils/tagList";
import { updatedDate } from "~/utils/updatedDate";
import Layout from "./Layout.astro";

type Props = {
    frontmatter: Frontmatter;
};
const {
    frontmatter: { tags, createdAt, updatedAt },
} = Astro.props;

// const description =
const created = createdDate(createdAt);
const updated = updatedAt ? updatedDate(updatedAt) : null;
const tagStr = tags?.length ? tagList(tags) : null;
---

<Layout title="post">
    <div class="tags">
        <span class="tag is-light">{created}</span>
    </div>
    {
        updated && (
            <div class="tags">
                <span class="tag is-light">{updated}</span>
            </div>
        )
    }
    {
        tagStr && (
            <div class="tags">
                <span class="tag is-light">{tagStr}</span>
            </div>
        )
    }
    <slot />
</Layout>
