---
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/biz-udgothic/400.css";
import type { Frontmatter } from "~/types";
import { toStr } from "~/utils/tagArrayToString";
import { embedCreated, embedUpdated } from "~/utils/dateToString";
import Layout from "./Layout.astro";

type Props = {
    frontmatter: Frontmatter;
};
const {
    frontmatter: { tags, createdAt, updatedAt },
} = Astro.props;

// const description =
const created = embedCreated(createdAt);
const updated = updatedAt ? embedUpdated(updatedAt) : null;
const tagStr = tags?.length ? toStr(tags) : null;
---

<Layout title="post">
    <div class="tags">
        <span class="tag is-light">{created}</span>
    </div>
    {
        // TODO: style
        updated && (
            <div class="tags">
                <span class="tag is-light">{updated}</span>
            </div>
        )
    }
    {
        tagStr && (
            <div class="tags">
                <span class="tag is-light">{tagStr}</span>
            </div>
        )
    }
    <div class="blog">
        <slot />
    </div>
</Layout>
<style is:global>
    code {
        @apply font-code;
    }

    .blog {
        @apply text-lg;
    }

    .blog h2,
    .blog h3,
    .blog h4,
    .blog h5 {
        @apply pt-9 pb-3 underline underline-offset-4;
    }
    .blog h1 {
        @apply pb-12 text-4xl text-primary;
    }

    .blog h2 {
        @apply text-3xl;
    }

    .blog h3 {
        @apply text-2xl;
    }

    .blog h4 {
        @apply text-xl;
    }

    .blog p,
    .blog ul,
    .blog ol {
        @apply py-3;
    }

    .blog ul {
        @apply list-inside list-disc;
    }

    .blog ol {
        @apply list-inside list-decimal;
    }

    .blog strong {
        @apply font-bold;
    }

    /* TODO: li > li (再帰的に), pre, a, blockquote  */
</style>
