---
import "@fontsource/nunito-sans/400.css";
import "@fontsource/zen-kaku-gothic-new/400.css";
import Header from "~/components/molecules/Header.astro";
import { PAGE_DESCRIPTION } from "~/constants";
interface Props {
    title: string;
    description?: string;
}
const { title, description = PAGE_DESCRIPTION } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />
    </head>
    <body>
        <div class="mx-auto px-8 xl:container">
            <div class="py-8">
                <Header />
            </div>
            <slot />
        </div>
    </body>
</html>
<style is:global>
    html {
        @apply bg-background font-sans text-foreground;
    }
</style>
