---
import { Icon } from 'astro-icon/components';
---

<button
    id="theme-button"
    class="size-8 rounded-full border-2 border-transparent p-1 hover:border-maldives xl:size-12 xl:p-2"
    aria-label="Toggle dark mode"
>
    <Icon name="gg:dark-mode" class="text-xl xl:text-3xl" />
</button>
<script>
    import { loadTheme, toggleTheme } from './Themebutton/client-script';

    const listenClick = () => {
        document
            .getElementById('theme-button')
            ?.addEventListener('click', toggleTheme);
    };

    const handleTheme = () => {
        loadTheme();
        listenClick();
    };

    document.addEventListener('astro:page-load', handleTheme, { once: true });
    document.addEventListener('astro:after-swap', handleTheme);
</script>
