---
import { Icon } from './Themebutton/icon';
---

<button
    id="theme-button"
    class="h-8 w-8 rounded-full border-2 border-transparent p-1 hover:border-maldives xl:h-12 xl:w-12 xl:p-2"
    aria-label="Toggle dark mode"
>
    <Icon />
</button>
<script>
    type Theme = 'light' | 'dark';
    const getCurrentTheme = (): Theme =>
        (window.localStorage.getItem('theme') as Theme | null) ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light');

    const loadTheme = () => {
        const currentTheme = getCurrentTheme();

        document.dispatchEvent(
            new CustomEvent('theme', {
                detail: currentTheme,
            }),
        );

        currentTheme === 'dark' &&
            document.documentElement.classList.add('dark');
    };

    const toggleTheme = () => {
        const currentTheme = getCurrentTheme();

        if (currentTheme === 'dark') {
            document.documentElement.classList.remove('dark');
        } else {
            document.documentElement.classList.add('dark');
        }

        window.localStorage.setItem(
            'theme',
            currentTheme === 'dark' ? 'light' : 'dark',
        );

        document.dispatchEvent(
            new CustomEvent('theme', {
                detail: currentTheme === 'dark' ? 'light' : 'dark',
            }),
        );
    };

    const listenClick = () => {
        document
            .getElementById('theme-button')
            ?.addEventListener('click', toggleTheme);
    };

    const handleTheme = () => {
        loadTheme();
        listenClick();
    };
    document.addEventListener('astro:page-load', handleTheme, { once: true });
    document.addEventListener('astro:after-swap', handleTheme);
</script>
