---
import { Icon } from 'astro-icon/components';

type Props = { name: string };

const { name } = Astro.props;
---

<a
    href={`/tags/${name}`}
    class:list={[
        "rounded-full border-2 border-transparent",
        "metadata hover-element",
        "block w-max bg-white px-3 py-1 dark:bg-midnight-express",
    ]}
>
    <Icon name="line-md:hash-small" class="inline pb-[1px]" />
    <span class="ml-[-10px] pr-1">
        {name}
    </span>
</a>
