---
import { Icon } from 'astro-icon/components';
---

<div class="metadata">
    <Icon name="line-md:rotate-270" class="inline pb-[2px]" />
    <span class="ml-[-10px]">
        <slot />
    </span>
</div>
