---
import * as R from "remeda";
import { format } from "date-fns";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "~/utils/types";
import Layout from "../layouts/Layout.astro";

// postsを取得
const posts: MarkdownInstance<Frontmatter>[] = await Astro.glob<Frontmatter>("./posts/*.md");

// 使う情報だけ抽出
type Article = {
    title: string;
    url: string;
    body: string;
    createdAt: string;
};
const articles: Article[] = R.pipe(
    posts,
    // createdAtの降順にソート
    R.sortBy(({ frontmatter: { createdAt } }) => -Number(createdAt)),
    // url, body, createdAt, titleを取得
    R.map(({ url, rawContent, frontmatter: { title, createdAt } }) => ({
        title: title,
        // urlがない場合は1ページ目に飛ばす
        url: url ?? "/page/1",
        body: rawContent(),
        // createdAtはもともとDate型のはずなのに、そのまま渡すと
        // string型を渡すなってdate-fnsに怒られるので、インスタンス化してから渡す
        createdAt: format(new Date(createdAt), "yyyy-MM-dd"),
    }))
);

console.log(articles);
---

<Layout title="hogeblog">
    <main>
        <a href="/">HOME</a>
        <h1>hogeblog</h1>
        {
            articles.map((article) => (
                <article>
                    url: {article.url}
                    <br />
                    createdAt: {article.createdAt}
                    <br />
                    title: {article.title}
                    <br />
                    body: {article.body}
                </article>
            ))
        }
    </main>
</Layout>
