---
import { Tag } from './Tag';
import type { Tags } from '~/domain/model/post';

type Props = { tags: Tags };
const { tags } = Astro.props;
---

<div class="">
    <h2 class="text-2xl text-tertiary">Tags</h2>
    <div class="flex flex-wrap">
        {tags.map((tag) => <Tag name={tag} />)}
    </div>
</div>
