<div
    class="custom-shadow relative h-14 w-14 rounded-full border-2 border-solid border-primary bg-background xs:h-16 xs:w-16 sm:h-20 sm:w-20"
>
    <img class="absolute top-[4px] right-[3px] p-2" src="/icon.svg" alt="tsukiyo icon" />
</div>
