---
import { PAGE_TITLE } from '~/constants';
import RssIcon from './RssIcon.astro';

export type Props = { isH1: boolean };
const { isH1 } = Astro.props;
---

<nav
    class="custom-shadow flex h-14 items-center justify-between rounded-full border-2 border-solid border-primary bg-background xs:h-16 sm:h-20"
>
    <a class="pl-5 text-2xl text-primary xs:pl-6 xs:text-3xl sm:pl-8 sm:text-[40px]" href="/">
        {isH1 ? <h1>{PAGE_TITLE}</h1> : PAGE_TITLE}
    </a>
    <a href="/rss.xml" class="mr-3 block invert-[.40] xs:mr-4 sm:mr-6">
        <RssIcon />
    </a>
</nav>
