---
import { PAGE_TITLE } from '~/constants';

export type Props = {
    isTop: boolean;
};
const { isTop } = Astro.props;
---

<nav
    class="custom-shadow flex h-14 items-center justify-between rounded-full border-2 border-solid border-primary bg-background xs:h-16 sm:h-20"
>
    {
        isTop ? (
            <h1 class="title">{PAGE_TITLE}</h1>
        ) : (
            <a class="title" href="/">
                {PAGE_TITLE}
            </a>
        )
    }
    <a href="/rss.xml" class="mr-6 block h-4 w-4 invert-[.50] sm:mr-7 sm:h-6 sm:w-6">
        <img src="/rss-solid.svg" alt="rss icon" />
    </a>
</nav>
<style>
    .title {
        @apply pl-5 text-2xl text-primary xs:pl-6 xs:text-3xl sm:pl-8 sm:text-[40px];
    }
</style>
