---
import type { MarkdownHeading } from 'astro';

export type Props = { headings: MarkdownHeading[] };
const { headings } = Astro.props;
---

<nav aria-label="Local navigation">
    <ul>
        {
            headings
                .filter(({ depth }) => depth !== 1)
                .map(({ depth, slug, text }, idx, self) => {
                    const degree = depth - 2;
                    const isLast = idx === self.length - 1;
                    const bullet = isLast ? '└' : '├' + '─'.repeat(degree);
                    return (
                        <li>
                            <a href={`#${slug}`} class="link">
                                {`${bullet} ${text}`}
                            </a>
                        </li>
                    );
                })
        }
    </ul>
</nav>
