---
import Card from './List/Card.astro';
import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';

type Props = { posts: CollectionEntry<'posts'>[] };

const { posts } = Astro.props;

const cards = posts
    .map(({ data, slug }) => ({
        tags: data.tags,
        published: format(data.published, 'yyyy-MM-dd'),
        updated: data.updated && format(data.updated, 'yyyy-MM-dd'),
        href: `/posts/${slug}`,
        title: data.title,
    }))
    .toSorted((a, b) => a.published.localeCompare(b.published))
    .toReversed();
---

<main class="flex flex-col gap-4 md:gap-6">
    {cards.map((card) => <Card {...card} />)}
</main>
