---
import Card from './List/Card.astro';
import type { CollectionEntry } from 'astro:content';

type Props = { posts: CollectionEntry<'posts'>[] };

const { posts } = Astro.props;

const cards = posts
    .map(({ data, slug }) => ({
        tags: data.tags,
        published: data.published.toISOString().substring(0, 10),
        updated: data.updated && data.updated.toISOString().substring(0, 10),
        href: `/posts/${slug}`,
        title: data.title,
    }))
    .toSorted((a, b) => a.published.localeCompare(b.published))
    .toReversed();
---

<main class="flex flex-col gap-4 md:gap-6">
    {cards.map((card) => <Card {...card} />)}
</main>
