---
import * as R from 'remeda';
import Card from './List/Card.astro';
import type { Posts } from '~/domain/values/post';

type Props = { posts: Posts };

const { posts } = Astro.props;

const cards = R.pipe(
    posts,
    R.map(
        R.pick(['description', 'published', 'tags', 'title', 'updated', 'url']),
    ),
    R.sortBy(({ published }) => published),
    R.reverse(),
);
---

<main class="flex flex-col gap-4 md:gap-6">
    {cards.map((card) => <Card {...card} />)}
</main>
