---
import Tag from '../shared/Tag.astro';
import type { Tags } from '~/domain/values/tags';

type Props = { tags: Tags };
const { tags } = Astro.props;
---

<div class="flex h-max flex-wrap gap-3 lg:h-full lg:flex-col">
    {tags.map((tag) => <Tag href={`/tags/${tag}`}>#{tag}</Tag>)}
</div>
