---
import Tag from '../shared/Tag.astro';

type Props = { tags: string[] };
const { tags } = Astro.props;
---

<div class="flex gap-3 lg:h-full lg:flex-col">
    {tags.map((tag) => <Tag href={`/tags/${tag}`}>#{tag}</Tag>)}
</div>
