---
import { PAGE_TITLE } from '~/utils/constants';
import { RssButton } from './Navbar/RssButton';
import { ThemeButton } from './Navbar/ThemeButton';
---

<nav
    class="relative flex h-14 items-center justify-between rounded-full border-2 border-solid bg-white xl:h-20"
    aria-label="Global navigation"
>
    <a class="absolute left-6 text-3xl text-accent lg:left-8 xl:text-[40px]" href="/">
        <h1>{PAGE_TITLE}</h1>
    </a>
    <div class="absolute right-3 flex xl:right-4">
        <RssButton />
        <ThemeButton client:only="solid-js" />
    </div>
</nav>
