---
import { Tag } from '~/components/tag';
import { type Posts, sortedUniqueTags } from '~/utils/posts';

type Props = { posts: Posts };

const { posts } = Astro.props;
---

<div class="flex gap-3 lg:h-full lg:flex-col">
    {sortedUniqueTags(posts).map((tag) => <Tag name={tag} link />)}
</div>
