---
import Tag from '~/components/Tag.astro';
import { type Posts, uniqueTags } from '~/utils/from-posts';

type Props = { posts: Posts };

const { posts } = Astro.props;
---

<div class="flex gap-3 lg:h-full lg:flex-col">
    {uniqueTags(posts).map((tag) => <Tag name={tag}/>)}
</div>
