---
import type { Card } from "~/types";
import { formatDate } from "~/utils/formatDate";
import { tagList } from "~/utils/tagList";
import { updatedDate } from "~/utils/updatedDate";

type Props = Card;
const { title, url, tags, description, created, updated } = Astro.props;

const date: string = formatDate(created) + (updated !== null ? updatedDate(created) : "");
const tagStr: string = tags.length ? " | " + tagList(tags) : "";
const metadata: string = date + tagStr;
// TODO: graphemeに基づく文字数カウントの後truncate
// TODO: description内のheaderを削除
---

<article
    class="rounded-2xl border-2 border-solid border-transparent hover:border-secondary hover:shadow-[3px_3px_4px_1px] hover:shadow-shadow"
>
    <!-- TODO: セパレータのアクセシビリティ -->
    <a href={url} class="block py-4 px-5">
        <p class="text-subtxt">{metadata}</p>
        <h2 class="pb-3 text-2xl text-primary underline underline-offset-4">{title}</h2>
        <p class="text-lg line-clamp-5">{description}</p>
    </a>
</article>
