<div
    class="relative h-16 w-16 rounded-full border-2 border-solid border-primary bg-background shadow-[3px_3px_4px_1px] shadow-shadow sm:h-20 sm:w-20"
>
    <img class="absolute top-[4px] right-[3px] p-2" src="/icon.svg" alt="tsukiyo icon" />
</div>
