<div
    class="custom-shadow relative h-16 w-16 rounded-full border-2 border-solid border-primary bg-background sm:h-20 sm:w-20"
>
    <img class="absolute top-[4px] right-[3px] p-2" src="/icon.svg" alt="tsukiyo icon" />
</div>
