<div
    class="relative h-20 w-20 rounded-full border-2 border-solid border-primary bg-background shadow-[3px_3px_4px_1px] shadow-shadow"
>
    <img class="absolute top-[4px] right-[3px] p-2" src="/icon.svg" alt="tsukiyo icon" />
</div>
