---
import { PAGE_TITLE } from "~/constants";

type Props = {
    isTop?: boolean;
};
const { isTop = false } = Astro.props;
---

<nav
    class="grid h-16 items-center rounded-full border-2 border-solid border-primary bg-background shadow-[3px_3px_4px_1px] shadow-shadow sm:h-20"
>
    {
        isTop ? (
            <h1 class="text-primary; text-primary pl-8 text-3xl sm:text-[40px]">{PAGE_TITLE}</h1>
        ) : (
            <a href="/" class="text-primary; text-primary pl-8 text-3xl sm:text-[40px]">
                {PAGE_TITLE}
            </a>
        )
    }
</nav>
