---
import { Image } from 'astro:assets';
import icon from '~/assets/icon.svg';
import Menu from './menu';
---

<nav class="flex gap-4 items-center md:flex-col md:sticky md:top-6">
    <a href="/">
        <Image src={icon} width={56} height={56} alt="tsukiyo icon" />
    </a>
    {/* to use the `window` API */}
    <Menu client:only="solid-js" />
</nav>
<script>
    import { loadTheme } from "./client-script";
    document.addEventListener("astro:page-load", loadTheme, { once: true });
    document.addEventListener("astro:after-swap", loadTheme);
</script>
