---
import { Icon } from 'astro-icon/components';
---

<a
    href="/rss.xml"
    class="size-8 rounded-full border-2 border-transparent p-1 hover:border-maldives xl:size-12 xl:p-2"
    aria-label="RSS feed"
>
    <Icon name="lucide:rss" class="text-xl xl:text-3xl" />
</a>
