name: Check Broken Links

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/check-links.yml'
      - 'src/content/posts/*.md'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  check-broken-links:
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2
        with:
          args: --verbose --no-progress './src/content/posts/*.md'
