name: CI

on:
  push:
    paths-ignore:
      - "**/*.md"

jobs:
  lint:
    name: Lint
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Run `astro check`
        run: npm -w app run check
      - name: Run ESLint
        run: npm -w app run lint

  format:
    name: Format
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Run Prettier
        run: npm -w app run format
      - name: Run commit files modified by Prettier
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply Prettier Change

  test-type:
    name: Typecheck
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Run Vitest typecheck
        run: npm -w app run test:unit

  test-unit:
    name: Unit test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Run Vitest
        run: npm -w app run test:unit

  test-e2e:
    name: E2E test
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx -w app playwright install --with-deps
      - name: Run `astro build`
        run: npm -w app run build
      - name: Run Playwright tests
        run: npm -w app run test:e2e
