name: CI

on:
  push:
    paths-ignore:
      - '**/*.md'

jobs:
  format-lint:
    name: Format and Lint
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run `astro check`
        run: npm run check
      - name: Run Prettier
        run: npm run format:fix
      - name: Run ESLint with fix options
        run: npm run lint:fix
      - name: Commit files modified by ESLint
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply Format and Lint changes

  lint-text:
    name: Textlint
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Textlint
        run: npm run lint:text

  # test-type:
  #   name: Typecheck
  #   timeout-minutes: 60
  #   runs-on: ubuntu-22.04
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3
  #     - name: Setup Node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version-file: .node-version
  #         cache: npm
  #     - name: Install dependencies
  #       run: npm ci
  #     - name: Run Vitest typecheck
  #       run: npm run test:type

  test-unit:
    name: Unit Test
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Vitest
        run: npm run test:unit

  test-e2e:
    name: E2E Test
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        browser:
          - chromium
          - firefox
          - webkit
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Store Playwright's version
        run: |
          PLAYWRIGHT_VERSION=$(npm ls @playwright/test | grep @playwright | sed 's/.*@//')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV
      - name: Cache Playwright browsers for Playwright's version
        id: cache-playwright
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}-${{ matrix.browser }}
      - name: Setup Playwright
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps ${{ matrix.browser }}
      - name: Install Additional Dependencies
        if: steps.cache-playwright.outputs.cache-hit == 'true'
        run: npx playwright install-deps ${{ matrix.browser }}
      - name: Build app
        run: npm run build
      - name: Run Playwright tests
        run: npx playwright test --project=${{ matrix.browser }}

  coverage:
    name: Coverage
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Generate coverage file
        run: npm run coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage/coverage-final.json
