name: Sync Toolchain Versions

on:
  pull_request:
    paths:
      - .github/workflows/sync-toolchain.yml
      - flake.lock

jobs:
  sync-toolchain-versions:
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - name: Get the Node.js version and update .node-version and renovate.json
        run: |
          NODE_VERSION=$(nix develop --command node --version)
          echo "${NODE_VERSION:1}" > .node-version
          jq "(.packageRules[]
            | select(.matchPackageNames and (.matchPackageNames | contains([\"@types/node\"])))
            | .allowedVersions) = \"<=${NODE_VERSION:1}\"" \
            renovate.json > tmp.json
          mv tmp.json renovate.json
      - name: Get the Bun version and update .bun-version
        run: |
          BUN_VERSION=$(nix develop --command bun --version)
          echo "$BUN_VERSION" > .bun-version
      - name: Update `wrangler.json` "compatibility_date"
        run: |
          CURRENT_DATE=$(date +%Y-%m-%d)
          jq ".compatibility_date = \"$CURRENT_DATE\"" wrangler.json > tmp.json
          mv tmp.json wrangler.json
      - name: Format JSON files with Biome
        run: |
          BIOME_VERSION=$(nix eval .#meta.package.devDependencies."@biomejs/biome" --raw)
          nix develop --command bunx "@biomejs/biome@$BIOME_VERSION" check --write renovate.json wrangler.json
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
        with:
          commit_message: "chore(config): sync config files with flake.lock"
