name: Validate Renovate Config

on:
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
      - name: Validate
        run: >-
          nix shell --inputs-from . nixpkgs#nodejs
          --command npx --yes --package renovate
          -c 'renovate-config-validator --strict'
