name: Validate Renovate Config

on:
  pull_request:
    paths:
      - 'renovate.json'

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - name: Validate
        run: >-
          nix shell --inputs-from . nixpkgs#nodejs
          --command npx --yes --package renovate
          -c 'renovate-config-validator --strict'
